/* Se selecciona la etiqueta body lo cual hara que todo lo que se defina abajo se aplique a todo el body */
body {
    /* Se elige el tipo de letra que contendra todo el texto que este almacenado en el body */
    font-family: sans-serif;
    /* Se define una margen u espacio por fuera, en este caso 0 osea ninguna */
    margin: 0;
}

/* Aqui se define una clase la cual sera llamada en el html y se aplicara unicamente a las etiquetas donde esta sea llamada en este caso creara el contenedor de nuestras tarjetas */
.contenedor {
    /* El atributo display se define como queremos que se observe en este caso el contenedor */
    display: flex; 
    /* Aqui podemos definir si queremos que conforme la pagina se vaya haciendo mas chica los elementos se organicen automaticamente debajo */
    flex-wrap: wrap; 
    /* Con esta podemos definir como deben de estar los elementos alineados al final o al inicio, si queremos que tengan un espacio entre ellos */
    justify-content: space-around; 
    /* con el padding definimos una margen o espacio dentro del contenedor */
    padding: 20px;
}

/* Aqui se define una clase la cual sera llamada en el html y se aplicara unicamente a las etiquetas donde esta sea llamada */
.tarjeta {
    /* Aqui definimos el ancho que queremos que tengan nuestras tarjetas */
    width: 300px; 
    /* aqui definimos una margen externa de nuestras tarjetas */
    margin: 10px; 
    /* Aqui definimos la linea que tendra nuestra tarjeta alrededor, gruesa o delgada, continua o intermitente y el color  */
    border: 10px  #ccc; 
    /* aqui se define una margen interna de las tarjetas */
    padding: 20px; 
    /* Aqui definimos que tan redondeados queremos los bordes de nuestra tarjeta */
    border-radius: 5px; 
    /* Se coloca una especie de sombra o desvanecido lo cual es da un efecto  alrededor de la tarjeta*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Aqui se define una clase la cual sera llamada en el html y se aplicara unicamente a las etiquetas donde esta sea llamada y modificara las imagenes que este dentro de una etiqueta <img> */
.tarjeta img {
    /* Aqui colocamos el ancho de la imagen */
    width: 100%; 
    /* y aqui se define el alto de la imagen */
    height: auto; 
    /* Aqui definimos como queremos que se muestre la imagen en este caso ocupa una linea */
    display: block; 
    /* Aqui se define que tan redondeado debe de ser el borde  */
    border-radius: 5px 5px 0 0; 
}

/* Aqui se define una clase la cual sera llamada en el html y se aplicara unicamente a las etiquetas donde esta sea llamada y modificara los textos o titulos que este dentro de una etiqueta <h3>  */
.tarjeta h3 {
    /* Aqui definimos una margen unicamente en la parte de arriba */
    margin-top: 10px; 
}

/* Aqui se define una clase la cual sera llamada en el html y se aplicara unicamente a las etiquetas donde esta sea llamada y modificara los parrafos todo lo que este dentro de una etiqueta <p> */
.tarjeta p {
    /* Definimos el tamaño de la letra  */
    font-size: 0.9em; 
    /* Aqui definimos el espacio entre cada linea del parrafo */
    line-height: 1.5; 
}